<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Confirmation</title>
</head>
<body>

<!-- Cette section va remplacer la section du layout annotée layout:fragment="content" -->
<main layout:fragment="content">
    <h2 th:text="${message}"></h2>
    
    <form th:action="@{|${action}|}" method="post" class="confirmation-form">
        <button class="btn btn-info">Je confirme</button>
        <a class="btn btn-error" th:href="@{|${back}|}">annuler</a>
    </form>
</main>

</body>
</html>